header {
  .container {
    height: 90px;
  }
}

.menu-phone {
  display: none;
}

menu {
  align-items: center;
  margin: 0;
  font-size: $font-size-sm;
}

nav {
  list-style: none;
  display: flex;
  padding-top: 40px;
  margin: 0;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}

a:hover {
  transition: 0.3s;
  background-color: $background-color-button;
}
